.container {
  position: relative;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 10px;
  margin: 2rem 1rem;
  padding-top: 2rem;
}

.container h3 {
  position: absolute;
  top: -20px;
  right: 10px;
  background-color: #fff;
  color: rgb(47, 45, 45);
  padding: 10px;
}

.filterItem {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}

.filterItem img {
  width: 20px;
}

.container {
  margin-top: 2rem;
}

.buttonContainer {
  margin: 0 0.5rem;
}

.buttonContainer button {
  padding: 0.4rem 0.8rem;
  margin: 1rem 0.4rem;
  background-color: white;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 6px;
}
.buttonContainer button:last-child {
  color: #fff;
  background-color: rgb(55, 148, 55);
}

@media screen and (min-width: 560px) {
  .container {
    width: 30%;
  }
}
