.container {
  width: 50%;
  direction: ltr;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ebeaea;
  padding-bottom: 1.5rem;
}

.image {
  height: 85%;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.4rem;
}

.name {
  align-self: flex-end;
  padding-right: 1rem;
}

.price {
  font-size: 100%;
  padding: 0.5rem 0.5rem 0 1rem;
}

.preprice {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  padding: 0 0 0.5rem 2rem;
  text-decoration: line-through;
  color: #888;
}

.badge {
  font-size: 0.9rem;
  color: #fff;
  position: absolute;
  bottom: 25%;
  left: 10%;
  background-color: rgb(215, 5, 5);
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
}

@media screen and (min-width: 560px) {
  .container {
    width: 33.333%;
  }
}
