.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  width: 100%;
}

.container img {
  height: 50vw;
  object-fit: contain;
}

.container div li {
  display: flex;
  padding: 0.5rem 10vw 0 0;
}

.name {
  font-size: 1.5rem;
}

.container .price {
  color: rgb(2, 123, 2);
  font-size: 1.5rem;
  padding: 1rem 10vw 0 0;
}

.container button {
  width: 9rem;
  height: 2rem;
  margin: 1rem 10vw 0 0;
  padding: 0.2rem;
  background-color: rgb(1, 139, 1);
  border: none;
  border-radius: 5px;
  color: #fff;
}

.container button:hover {
  background-color: rgb(0, 103, 0);
}

.container p {
  padding: 0 0.5rem;
}

@media screen and (min-width: 560px) {
  .container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    min-height: 22rem;
  }

  .container img {
    height: 100%;
    width: 35vw;
    min-width: 16rem;
    object-fit: contain;
  }
  .container div li {
    padding: 0 1rem 0.5rem 0;
  }

  .container .info {
    font-size: larger;
    padding-top: 3rem;
  }

  .container .price {
    position: absolute;
    bottom: 5rem;
    align-self: flex-start;
    font-size: 2rem;
    padding: 1rem;
  }

  .container button {
    position: absolute;
    margin-right: 1rem;
    bottom: 3rem;
    width: 13rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}
