.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 8px;
  margin: 1rem;
}

.container span {
  padding: 0.5em;
}

.container :nth-last-child(2) {
  padding: 1rem;
  font-weight: 700;
}

.container button {
  margin: 0 2rem;
  background-color: rgb(6, 148, 6);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  cursor: pointer;
}

.container button:hover {
  background-color: rgb(3, 136, 3);
}

@media screen and (min-width: 560px) {
  .container {
    height: fit-content;
    width: 40%;
  }
}
