.loginIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  grid-area: login;
  cursor: pointer;
  padding-top: 0.4rem;
}

.loginBox {
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60vh;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  width: 40vw;
  min-width: 20rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(71, 68, 68);
  padding-bottom: 3rem;
}

.loginBox label {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.loginBox input {
  padding: 0.4rem;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  outline: none;
}

.loginBox input:focus {
  box-shadow: 0 0 5px rgb(190, 190, 236);
}

.loginBox button {
  background-color: rgb(7, 143, 7);
  color: white;
  font-size: 1.1rem;
  padding: 0.4rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.loginBox button:hover {
  background-color: rgb(7, 130, 7);
}

.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
