.desk_menu {
  display: none;
  grid-area: menu;
  font-size: 1.3rem;
  z-index: 3;
}
.desk_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.desk_menu ul ul {
  display: none;
}

.desk_menu ul li:hover > ul {
  display: block;
}

.desk_menu li,
.desk_menu span {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.desk_menu li:hover {
  color: red;
}

.desk_sub_menu {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  translate: 1.7rem -0.5rem;
  font-size: 1rem;
  color: #333;
}

.desk_sub_menu li {
  padding: 0.7rem 2rem;
}

.desk_sub_menu li:hover {
  background-color: rgba(243, 243, 243, 0.921);
  transition: all 0.5s;
}

.mob_menu {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 40vw;
  background-color: rgb(247, 247, 237);
  z-index: 999;
}

.mob_menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 5rem;
}

.mob_menu li {
  padding: 1rem 2rem 1rem 0;
}

.close {
  position: absolute;
  display: inline-block;
  left: 0;
  padding: 1rem;
}

.open {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 560px) {
  .desk_menu {
    display: block;
  }
  .mob_menu {
    display: none;
  }
  .open {
    display: none;
  }
}
