.navbar {
  display: grid;
  grid-template: 4rem 3rem /15vw auto 15vw;
  grid-template-areas: "menu logo login-cart" "search search search ";
  justify-items: center;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.299);
  z-index: 999;
}

@media screen and (min-width: 560px) {
  .navbar {
    grid-template: 10vw auto/ 25vw auto 25vw;
    grid-template-areas: "login-cart logo search" "menu menu menu";
  }
}
